<div class="container">
    <div class="card bg-light" *ngIf="vlDetProducto">
        <div class="card headerd">{{titulo}}</div>
        <div class="card body">
            <h4 class="card-title"></h4>
            <a [routerLink]="['/producto']" class="btn btn-outline-secondary">&laquo; volver</a>
            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-primary">Producto</li>
                <li class="list-group-item">{{vlDetProducto.pk}}</li>
                <li class="list-group-item">{{vlDetProducto.name}}</li>
            </ul>
            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-primary">Detalle Producto</li>
            </ul>
            <table class="table table-striped table-hover table-bordered my-3">
                <thead>
                    <tr>
                        <th>Condition</th>
                        <th>dimension</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detProducto of vlDetProducto">
                        <td>{{detProducto.condition}}</td>
                        <td>{{detProducto.dimensionesunit}}</td>
                        <td>{{detProducto.shippingdepth}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>